﻿@{ 
    ViewBag.Title = "Users";
}

<h2>Users</h2>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>App</td>
            <td>Apm</td>
            <td>Age</td>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.Users != null && ViewBag.Users.Count > 0)
        {
            foreach (var us in ViewBag.Users)
            {
                <tr>
                    <td>@us.Id</td>
                    <td>@us.Name</td>
                    <td>@us.App</td>
                    <td>@us.Apm</td>
                    <td>@us.Age</td>
                </tr>
            }
        } else
        {
            <tr>
                <td colspan="5" align="center">No data found</td>
            </tr>
        }
    </tbody>
</table>
